body {
  display: flex;
  background: aliceblue;
  background-color: #f6f8fa;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.f {
  display: flex;
}

.fe {
  align-items: flex-end;
}

.dashboard {
  background-color: #f6f8fa;
  width: 420px;
  border-radius: 0 0 20px -15px black;
  margin: 0 auto;
}

header {
  background: linear-gradient(to bottom, #59a2fb 0%, #3976f6 100%);
  overflow: hidden;
  border-radius: 0 0 50px 50px;
  padding: 20px 20px;
  box-shadow: 0 -5px 27px 0 rgba(128, 128, 128, 0.15);
  color: white;
}

.logo {
  width: 20%;
  padding-right: 10px;
}

.heading .title {
  margin: 0;
  font-size: 22px;
}

.heading .date {
  margin: 10px 0;
  font-size: 16px;
}

.category {
  overflow: hidden;
  /* margin-top: 10px; */
  margin: 30px auto 0;
}

.category ul {
  display: flex;
}

.category li+li {
  margin-left: 60px;
}

.category a {
  font-size: 17px;
  font-weight: 600;
  color: #858d9f;
  white-space: nowrap;
}

.category a:hover, .category a.active {
  color: #444;
}

.category a.active {
  position: relative;
}

.category a.active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #444;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -15px;
}

.appliance {
  position: relative;
  height: 150px;
  margin-bottom: 25px;
}

.appliance span {
  position: relative;
  font-size: 20px;
}

.appliance strong {
  margin: 10px 0 10px;
  display: block;
  font-size: 18px;
}

.appliance .acontent {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 20px;
  box-shadow: 1px 0 10px 10px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}

.appliance .acontent::before {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: white;
  content: "";
}

.appliance .acontent * {
  position: relative;
  transition: 200ms;
}

.appliance .acontent::before {
  content: "";
  background: linear-gradient(to bottom, #59a2fb 0%, #3976f6 100%);
}

.appliance .acontent * {
  color: white;
}

.content {
  text-align: center;
  margin: 20px;
}

button {
  --w: 6em;
  --bg: rgb(var(--rgb));
  --bga: rgba(var(--rgb), .4);
  border: none;
  font-size: 100%;
  width: var(--w);
  height: var(--w);
  background: var(--bg);
  box-shadow: 0 3px 12px 2px var(--bga);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .1s transform, .3s box-shadow;
  will-change: transform, box-shadow;
  backface-visibility: hidden;
}

button>* {
  pointer-events: none;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(.97);
}

button:after {
  --bg: rgb(var(--rgb));
  content: '';
  position: absolute;
  top: -15%;
  left: -15%;
  width: 200%;
  height: 200%;
  background: var(--bg);
  border-radius: inherit;
  transform: translate(5%, 5%) scale(.03);
  pointer-events: none;
}

button.animating:after {
  animation: c .5s cubic-bezier(.5, 0, .5, 1) backwards;
}

button.active,
button:not(.active):after {
  --rgb: 64, 227, 120;
}

button:not(.active),
button.active:after {
  --rgb: 229, 55, 94;
}

@keyframes c {
  to {
      transform: none;
  }
}


button span {
  display: inline-block;
  position: relative;
  margin-top: 5px;
}

button b {
  --w: 7px;
  overflow: hidden;
  border-radius: var(--w);
  display: grid;
  width: var(--w);
  height: 35px;
  top: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
  will-change: transform;
}

button b:before {
  content: '';
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: var(--w);
  transform: translateY(-15px);
  transition-timing-function: var(--timing);
  transition: .5s;
}

button.active b:before {
  transform: translateY(12px);
  transition-delay: .27s;
  transition-timing-function: cubic-bezier(.25, .25, .25, 1.25);
}

button svg {
  --dash: 190;
  stroke-linecap: round;
  stroke-dasharray: var(--dash);
  stroke-dashoffset: var(--dash);
  width: 46px;
  height: 46px;
  transform: scaleX(-1) rotate(-89deg);
  transition: .4s;
  transition-timing-function: var(--timing);
  margin: auto;
  position: relative;
  z-index: 1;
  will-change: transform, stroke-dashoffset;
}

button:not(.active) svg {
  stroke-dashoffset: 40;
  transform: scaleX(-1) rotate(-52deg);
  transition: .5s .25s;
}